@import "/css/settings.css";

.navbar {
  margin-bottom: 200px;

  display: flex;

  justify-content: center;
  align-items: center;

  background: var(--dark_black);
}

.navbar .navbar-content {
  width: 70%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 20px 0 20px 0;
}

.navbar .navbar-content .navbar-logo img {
  width: 130px;
}

.navbar .navbar-content ul {
  width: 50%;

  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  padding: 0;
}

.navbar .navbar-content ul li {
  list-style: none;
}

.navbar .navbar-content ul li a {
  font-size: 1rem;
  font-weight: 550;

  text-decoration: none;
  padding: 0 0 13px 0 !important;

  color: var(--dark_white);
}

.navbar .navbar-content ul li > .active {
  box-shadow: 0 1px 0 var(--light_white);

  color: var(--light_white);
}

@media screen and (max-width: 1280px) {
  .navbar .navbar-content {
    width: 85%;
  }

  .navbar .navbar-content ul {
    width: 28%;
  }
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-content {
    width: 85%;
  }

  .navbar .navbar-content ul {
    width: 35%;
  }
}

@media screen and (max-width: 760px) {
  .navbar .navbar-content ul {
    width: 45%;
  }
}

@media screen and (max-width: 590px) {
  .navbar .navbar-content {
    width: 100%;

    justify-content: center;
    align-items: center;
  }

  .navbar .navbar-content .navbar-logo {
    display: none;
    visibility: hidden;
  }

  .navbar .navbar-content ul {
    width: 70%;
  }
}